AddDefaultCharset UTF-8
DirectoryIndex index.php

RewriteEngine On
RewriteBase /

RewriteRule ^\.git / [R,L]
RewriteRule ^lib / [R,L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-l
RewriteRule (.*) index.php [L,QSA]